/* Add CSS Styling */
.alpha, .beta {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

.alpha {
    color: white;
    background-color: black;
}

.beta {
    background-color: yellow;
}